.card {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(101,193,136,1) 75%, rgba(0,189,255,1) 100%);    
    
      
}

.card-image {
    
}

.card-title {
    font-size: large;
}

.card-content {
    font-size: medium;
}

.img-card {
    object-fit: contain;
    height: 250px;
}

