.card {
    background: linear-gradient(black, #00eeba9c);
    margin: auto;
    
      
}

.card-image {
    
}

.card-title {
    font-size: large;
}

.card-content {
    font-size: medium;
}

.img-card {
    object-fit: contain;
    height: 250px;
}

ul {
    display: flex;
    flex-direction: column;
}