.card {
    background: rgb(2,0,36);
    background: linear-gradient(129deg, rgba(2,0,36,1) 0%, rgba(36,156,82,1) 62%, rgba(0,189,255,1) 100%);    
      
}


.card-title {
    font-size: large;
}

.card-content {
    font-size: medium;
}

.img-card {
    object-fit: contain;
    height: 250px;
}

