body {
  font-style: normal;
  font-family: "Fredoka One", cursive;
  font-size: 25px;
  color: #00eebada;
  text-decoration: none;
  text-shadow: 0 0 0.2em black, 0 0 0.2em black, 0 0 0.2em black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: black;
  list-style-type: none;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

.btn-success {
  --bs-btn-bg: #00eebaaf;
}

.btn-light {
  color: black;
  --bs-btn-color: #00eeba57;
  --bs-btn-bg: #00eebaaf;
  --bs-btn-hover-bg: #00eebaf1;
  
}

#logo {
  height: 100px;
}